<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs',{title : "clima"}) %>

  
  <script src="./javascripts/aplicaciones/chatgpt.js" type="module"></script>


<body class="body-chatgpt">
  <main class="main-chatgpt">
    <ul class="ul-chatgpt">
      <li class="loading">
        <i></i>
        <h4>Cargando...</h4>
        <h5>Esto puede tardar un poco. Paciencia.</h5>
      </li>
    </ul>
  </main>

  <form class="form-chatgpt">
    <input placeholder="Escribe tu mensaje aquí...">
    <button disabled>Enviar</button>
  </form>

  <small class="small-chatgpt">&nbsp;</small>

  <template id="message-template">
    <li class="message">
      <span></span>
      <p></p>
    </li>
  </template>
</body>

</html>
