<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs',{title : "chatgpt"}) %>
<body class="body-chatgpt">
 

    <script src="./javascripts/aplicaciones/chatgpt.js"></script>
</body>
</html>