<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs',{title : "clima"}) %>
<body>
    
<input type="text" placeholder="Ingrese el nombre de tu ciudad " id="city" value="" >
<button id="btn-clima">Mostrar temperatura</button>
<div id="resultado"></div>

    <script src="./javascripts/clima/clima.js"></script>
</body>
</html>