<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs',{title : "programas"}) %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<a href="/calculadora">calculadora</a>
<a href="/clima">clima</a>
  </body>
</html>
