<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs',{title : "programas"}) %>
  <body class="programas_body">
    <h1 class="programas_h1"><%= title %></h1>
    <p>espero que te gusten estos programas de uso gratuitos  <%= title %></p>
<section class="programas_section">
   <a href="/calculadora"><img class="programas_img"  src="./images/caratulas/calculadora.png" width="70px" height="55px"></a>
  

<a href="/clima"><img class="programas_img"  src="./images/caratulas/clima.png" width="70px" height="55px";></a>

<a href="/reloj"><img class="programas_img"  src="./images/caratulas/reloj.png" width="70px" height="55px";></a>

<a href="/chatgpt"><img class="programas_img"  src="./images/caratulas/chatgpt.png" ;></a>

<a href="/piano"><img class="programas_img"  src="./images/caratulas/piano.png" ;></a>



</section>

  </body>
</html>
