<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs',{title : "programas"}) %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<a href="/calculadora"><img src="./images/caratulas/calculadora.png" width="70px" height="55px"></a>

<a href="/clima"><img src="./images/caratulas/clima.png" width="70px" height="55px";></a>

<a href="/reloj"><img src="./images/caratulas/reloj.png" width="70px" height="55px";></a>

<a href="/chatgpt"><img src="./images/caratulas/chatgpt.png" width="70px" height="55px";></a>


  </body>
</html>
