<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs',{title : "programas"}) %>

    
    <body class="body_xp" >


    <div class="taskbar">

       <section class="section">
        <div class="logo_1">
            <div class="logo">
                <div>
                    <div class="panel panel-blue"></div>
                <div class="panel panel-green"></div>
            </div>
                <div>
                    <div class="panel panel-red"></div>
                    <div class="panel panel-yellow"></div>
                </div>
                
            </div>
    
            </div>
            <div class="start-button">Inicio</div>
  
       </section>
        
    </div>
    <div class="windows__bg">
       
          <div class="windows__logo">
              <div class="windows__logo--inner red"></div>
              <div class="windows__logo--inner green"></div>
              <div class="windows__logo--inner blue"></div>
              <div class="windows__logo--inner yellow"></div>
          </div>
        
      </div>


</body>
</html>